<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body id="signup">
    <h1 id="login_style">
      Login
      <img id="Log_image"
        src="{{ url_for('static', filename='lock.png') }}"
        alt="login"
        style="background-color: rgb(241, 200, 14); height: 50px; width: 50px"
      />
    </h1>

    <legend style="border: 3px; border-color: aliceblue">
      <form action="{{ url_for('login') }}" method="post">
        <label for="username" style="color: rgb(148, 15, 59)"><b>Username:</b></label>
        <input type="text" name="username" required />
        <br />
        <label for="password" style="color: rgb(148, 15, 59)"><b>Password:</b></label>
        <input type="password" name="password" required />
        <br />
        <input type="submit" value="Login" />
      </form>
    </legend>

    <p class="md">
      Don't have an account?
      <button class="bu">
        <a href="{{ url_for('signup') }}">Sign up </a>.
      </button>
    </p>
  </body>
</html>
